# Replace <...> for your variables

[Unit]
Description=<description-service>
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=<user-name>
ExecStart=<gunicorn/start/script/path> 
# Ex: /webapps/base_django/bin/gunicorn_start

[Install]
WantedBy=multi-user.target